<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratório <%= lab.id %></title>
</head>

<body>
    <h1> Laboratorio <%= lab.id %></h1>
    <ul>
        <li><a href="/laboratorios/<%= lab.id %>/dispositivos">Dispositivos</a></li>
        <li><a href="/laboratorios/<%= lab.id %>/disponibilidade">Disponibilidade</a></li>
        <li><a href="/laboratorios/<%= lab.id %>/cadastro/reserva">Cadastro de Reserva</a></li>
        <li><a href="/laboratorios/<%= lab.id %>/avisos">Avisos</a></li>
    </ul>
</body>

</html>